Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Pre-Depends: common-utils-config, service-discovery, dirsprepare
Maintainer: Abhinav <abhinav.garg@capillarytech.com>
Description: Facebook Gateway Service
Distribution: development

